<h1>Simple</h1>
<p-table [value]="data" [scrollable]="true" scrollHeight="400px"
  [totalRecords]="totalRecords" (sortFunction)="customSort($event)" [customSort]="true">
  <ng-template pTemplate="header">
    <tr>
      <th [pSortableColumn]="'id'">Id
        <p-sortIcon [field]="'id'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'name'">Name
        <p-sortIcon [field]="'name'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
      </th>
      <th>Age
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.age}}</td>
    </tr>
  </ng-template>
</p-table>

<router-outlet></router-outlet>
